body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin: 20px 0;
}

h1 img {
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.6);
    text-align: center;
    margin: 20px 0;
}

.Workteam {
    max-width: 1500px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(145deg, black, #660000);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
}

.Workteam ul {
    list-style-type: none;
    padding: 0;
}

.Workteam ul ul {
    padding-left: 20px;
    list-style-type: disc;
}

.Workteam ul li {
    margin-bottom: 10px;
}

.Workteam strong {
    color: #ffcc00;
}


@media (max-width: 768px) {
    .Workteam {
        font-size: 16px;
        padding: 15px;
    }

    h1 img {
        max-width: 200px;
    }
}